# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Build output
/build/
/out/
/target/

# Java specific
*.class
*.jar
*.war
*.ear

# Log files
*.log

# IDE specific files
*.swp
